@model SandboxCore11.Queries.PurchaseOrder

@{
    ViewData["Title"] = "Details";
    ViewData["Header"] = "Purchase orders details";
    ViewData["SubHeader"] = "As it says on the tin.";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            <date-time value="@Model.RequestedDate" />
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequestedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConfirmedDate)
        </dt>
        <dd>
            <nullable-date-time value="@Model.ConfirmedDate" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpectedDeliveryDate)
        </dt>
        <dd>
            <nullable-date-time value="@Model.ExpectedDeliveryDate" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReceivedDate)
        </dt>
        <dd>
            <nullable-date-time value="@Model.ReceivedDate" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PurchaseOrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
