@model IEnumerable<SandboxCore11.Data.PurchaseOrder>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequestedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConfirmedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpectedDeliveryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReceivedDate)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedDeliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceivedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.SupplierId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PurchaseOrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PurchaseOrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PurchaseOrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
